PRIVATE_KEY=0x0000000000000000000000000000000000000000000000000000000000000000
SEPOLIA_RPC_URL=https://rpc.ankr.com/eth_sepolia
AMOY_RPC_URL=https://rpc.ankr.com/polygon_amoy
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545

ETHERSCAN_API_KEY=
POLYGONSCAN_API_KEY=
BASESCAN_API_KEY=
ARBISCAN_API_KEY=
BSCSCAN_API_KEY=
